<html>
	<head>
	</head>
	<body style="font-family:Arial, Helvetica, sans-serif;" >
		<div class="title" style="text-align:left;font-size:24pt;padding-top:25px;color:#767171;line-height:1.5;" >
			<h4>
				Hola ({{fullName}}), <br>				
				gracias a tu donación en este momento un niño esta sonriendo.
			</h4>				
		</div>
		<div class="content" style="margin: 0 auto;max-width:800px;" >
			<table style="text-align:center; line-height:2.5;" >
				<tr>
					<td style="font-size:20pt; color:#0070c0" >
						Acabas de obtener este descuento: <br>
						{{promotion}}
					</td>
				</tr>
				<tr>					
					<td style="font-size:34pt;" >
						<b>Codigo de donación: {{code}}</b>
					</td>					
				</tr>
				<tr>					
					<td style="padding-top:25px;color:#767171"; >
						Recuerda que debes presentar este código en el momento de hacer tu compra. 
					</td>					
				</tr>
				<tr>
					<td style="padding-top:32px;color:#767171"; >
						¿Preguntas? Escribenos a info@unamarcatepremia.com
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>