<html>
	<head>
	</head>
	<body style="font-family:Arial, Helvetica, sans-serif;" >
		<div class="title" style="text-align:left;font-size:16pt;padding:25px;" ><h2> Felicitaciones {{ fullName }} </h2></div>
		<div class="content" style="margin: 0 auto;max-width:800px;" >
			<table style="font-size:16pt;">
				<tr>
					<td style="text-align:center; color:#0070c0; font-weight:bold">
						Ahora haces parte del cambio.  Gracias a tus donaciones muchos niños de Colombia van a sonreír.
                    </td>	
                </tr>
                <tr>
                    <td style="text-align:justify; padding-top:25px;color:#333333" >
                        Te mantendremos informado de todas nuestras donaciones, para que ayudes a los niños de Colombia a sonreír.
                        Sabias que con tus donaciones La Fundación Portal Mágico llena de color la vida de muchos niños hospitalizados, 
                        entregando materiales didácticos para construir un mundo imaginario mejor. 
                    </td>				
                </tr>
                <tr>
                    <td style="text-align:justify; padding-top:25px;color:#333333" >
                        Para confirmar tu cuenta has click aquí : {{urlConfirmation}}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:justify; padding-top:25px;color:#333333" >
                        Disfruta de esta nueva aventura y gracias por darle el poder de soñar a muchos niños de Colombia. 
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center; padding-top:50px;color:#333333" >
                        ¿Preguntas? Escribenos a info@unamarcatepremia.com
                    </td>
                </tr>
			</table>
		</div>
	</body>
</html>